<div class="container top-margin">
  <h1><%= current_user.user_name %>'s Albums</h1>
  <div class="row">
    <% @albums.each_with_index do |album, index| %>
      <div class="col s3 album-container" id="album_<%= index %>">
        <div class="photo-container">
          <%= link_to album_path(album.id), class: 'object-fit_fill' do %>
            <%= image_tag first_album_photo(album) %>
          <% end %>
        </div>
        <div class="album-description">
          <h3><%= link_to album.title, album_path(album.id), id: "album_link_#{index}"%></h3>
          <h3><%= album.photos %> Photos</h3>
          <h3><%= album.count_views %> views</h3>
          <h3><%= album.count_comments %> comments</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
