<div class="container med-top-margin">
  <h1><%= @info.title %></h1>
  <h3><%= @info.description %></h3>
  <div class="row">
    <% @album_photos.each_with_index do |photo, index| %>
      <div class="col s3 album-photo-container">
        <div class="photo-container" id="album_photo_<%= index %>">
          <%= link_to photo_path(photo.id) do %>
            <%= image_tag get_photo_url_m(photo) %>
          <% end %>
        </div>
        <div class="photo-description">
          <h1><%= photo.title %></h1>
          <p>views: <%= views(photo) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
